h1 {
    color: #4863a0; 
    font-family: Helvetica ,Arial,sans-serif;
    font-size: medium;
}
body {
	padding:20px;
}

/* Overwriting bootstrap styling:*/
button {
    margin-right: 10px;
    }
.jumbotron {
 padding-bottom: 25px;   
 padding-top: 25px;   
}